

<mat-toolbar color="dark">
  <mat-toolbar-row>
  <h1>Facturación Masterpez</h1>

  <button mat-icon-button (click)="sidenav.toggle();">
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
           routerLink="/login">
    <mat-icon>logout</mat-icon>
  </button>

  </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" style="width: 300px;">


    <mat-nav-list>

      <mat-list-item routerLink="/pages/dashboard">
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <div mat-line>Inicio</div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/usuarios">
        <mat-icon mat-list-icon>manage_accounts</mat-icon>
        <div mat-line>Usuarios</div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/productos">
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line>Servicios</div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/vender">
        <mat-icon mat-list-icon>currency_exchange</mat-icon>
        <div mat-line>Facturar</div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/historialventas">
        <mat-icon mat-list-icon>edit_note</mat-icon>
        <div mat-line>Historial Facturas</div>
      </mat-list-item>

      <mat-list-item routerLink="/pages/reportes">
        <mat-icon mat-list-icon>receipt</mat-icon>
        <div mat-line>Reportes</div>
      </mat-list-item>

    </mat-nav-list>


  </mat-sidenav>

  <mat-sidenav-content>
    <div style="height: 90vh;">
     <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>
